@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}



.navSec{
    z-index: 100;
    position: fixed;
    width: 100%;
  }
  /* =======HEADER========= */
  header{
    display: flex;
    align-items: center;
    /* align-content: center; */
    padding: 0 7%;
    width:100%;
    gap: 30%;
    height: 25px;
    background-color: rgb(233, 225, 225);
  }
  
  /* =======left header====== */
  .firsLefttNav{
    display: flex;
    align-items: center;
    padding: 5px 5px;
    gap: 15px;
  }
  .firsLefttNav div img{
    width: 15px;
  }
  
  
  /* ======right header======== */
  
  .firstRightNav{
    display: flex;
    align-items: center;
    /* padding: 5px 5px; */
    gap: 10px;
  }
  
  
  .firstRightNav .logoo img{
    width: 60px;
     height: 20px; 
  }
  
  .firstRightNav .opay img{
    width: 50px;
  }
  
  
  
  /* =================NAV BAR================= */
  nav{
    display: flex;
    align-content: center;
    padding: 2px 7%;
    padding-top: 5px;
    /* padding-bottom: 5px; */
    width:100%;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  /* ===========jumia left nav========= */
  .jumiaLeftNav{
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .jumiaLeftNav p{
    font-size: 23px;
  }

  .jumiaLeftNav p :hover{
    color: #f68b1e;
    cursor: pointer;
  }
  .jumiaLeftNav div img{
    width: 100px;
    height: 60px;
    margin-right: 70px;
  }
  
  /* =========form== */
  form{
    display: flex;
    align-items: inherit;
    gap: 7px;
  }
  
  /* ========input=========== */
  
   form input{
    padding: 10px 50px;
      width: 510px;
      border-radius: 5px;
      font-size: 15px;
      outline: none;
      border: 1px solid gray;
  
   }
  
   /* ==========p====== */
   form p{
    position: absolute;
    padding: 0 17px;
    color: gray;
    font-size: 17px;
   }
       
   /* ==========button============= */
   form button{
    background-color: #f68b1e;
    color: white;
    padding: 9px 12px;
    border-radius: 5px;
    border: none;
    font-size: 15px;
    font-weight: 700;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  
   }
    form button:hover{
    background-color: orange;
    cursor: pointer;
   }
  
   /* ======RIGHT NAV============== */
   .jumiaRightNav{
    display: flex;
    align-items: center;
    gap: 30px;
   }
  
   .stDiv{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 20px;
   }
  
   .ndDiv{
    display: flex;
    align-items: center;
    gap: 10px;
   }
   
   .rdDiv{
    display: flex;
    align-items: center;
    gap: 10px;
   }
  
   .jumiaRightNav p{
    font-size: 22px;
   }
  
   .jumiaRightNav h5{
    font-weight: 400;
    font-size: 16px;
   }
  
   .jumiaRightNav .dropdown{
    font-size: 11px;
   }
  
   .jumiaRightNav :hover{
    color: orange;
    cursor: pointer;
   }


   
 /* ===========SECTION ONE=========== */
  
 .secOneCart{
    background-color: whitesmoke;
    padding: 25px 7%;
    padding-top: 120px;
    height: 74vh;
   }

   .sec1Wrapper{
  background-color: white;
  padding: 7px 10px;
  border-radius: 5px;
  text-align: center;
  height: 55vh;
   }

   .sec1Wrapper img{
    width: 80px;
    height: 70px;
    border-radius: 5px;
   }

   .sec1Wrapper .cart{
    background-color: whitesmoke;
    margin-bottom: 2%;
    margin-top: 2%;
    border-radius: 50%;
    width: 115px;
    height: 115px;
    margin-left: 45%;
    padding-top: 25px;
    
   }

   .sec1Wrapper h2{
    margin-bottom: 2%;
    font-size: 17px;
    font-weight: 450;
   }

   .sec1Wrapper p{
    margin-bottom: 1%;
    font-size: 15px;
   }

   .sec1Wrapper .button button{
    background-color: #f68b1e;
    padding: 15px 13px;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    font-weight: 600;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
   }

   .sec1Wrapper button:hover{
    background-color: orange;
    cursor: pointer;
   }

   /* ==============SECTION2================= */
   .sectionTwo{
    background-color: whitesmoke;
    padding: 10px 7%;
    height: 53vh;
   }

   .sec2Wraper{
    background-color: white;
    display: flex;
    align-items: center;
    gap: 78%;
    padding: 8px 5px;
    padding-left: 1%;
    border-radius: 5px 5px 0 0;
   }

  .section2LeftDiv h3{
    font-size: 20px;
    font-weight: 550;
   }

   .section2RightDiv h3{
    font-weight: 400;
    font-size: 17px;
    color:#f68b1e;
    ;
   }

   .sec2ImgSection{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-content: center;
    /* padding-top: 5px; */
    background-color: white;
    gap: 4px;
    border-radius: 0 0 5px 5px;
   }

   /* .sec2ImgSection div{
    width: 100%;
   } */

   .sec2ImgSection img{
    width: 99%;
    border-radius: 5px 5px 0 0;
   }

   .sec2ImgSection div:hover{
    background-color: white;
    transition: 0.1s .1s ease-in-out;
    transform: scale(1.01);
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
   
.sec2ImgSection div{
    position: relative;
    margin-top: 10px;
    /* gap: 5px; */
    border-radius: 5px;
    /* text-align: left; */
    padding: 0 5px 5px 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
   }

   .sec2ImgSection h2{
  position: absolute;
  top: 0;
  right: 0;
  right: 5px;
  top: 5px;
  background-color: #ffe2c6;
  color: #f68b1e;
  font-weight: 350;
  font-size: 15px;
  padding: 1px;
  border-radius: 2px;
  /* margin: 12px; */
  border: none;
  } 

  .sec2ImgSection p{
    font-size: 15px;
  }
  
  .sec2ImgSection h3{
    font-size: 17px;
    font-weight: 450;
  }

  .sec2ImgSection h5{
    font-size: 13px;
    font-weight: 380;
    text-decoration: line-through;
    color: grey;
  }
  


  
/* ================SECTION 3============== */
.sectionSix{
  padding: 25px 7%;
  background-color: whitesmoke;
  padding-top: 20px;
  /* padding-bottom: 30px; */
}

.section6Wrapper{
  display: flex;
  align-items: center;
  background-color: white;
  gap: 76%;
  padding: 10px 5px;
  border-radius: 5px 5px 0 0;
}


.section6LeftDiv {
  padding-left: 15px;
}

.section6LeftDiv h3{
  font-weight: 420;
  font-size: 20px;
}



.section6RightDiv h3{
  font-weight: 420;
  font-size: 15px;
  color: #f68b1e;
}




/* =======SECTION 3 SWIPER JS========= */
.swiper {
  width: 100%;
  height: 100%;
}

.mySwiper6{
  background-color: white;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mySwiper6{
  background-color: white;
  border-radius: 0 0 5px 5px;
  margin-bottom: 10px;
}


.sixthSipper{
  height: 100px;
}

        /* =======my css======= */

.mySwiper6 .swiper-slide:hover{
  background-color: white;
  transition: 0.5s .1s ease-in-out;
  transform: scale(1.04);
  cursor: pointer;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

 .mySwiper6 .swiper-wrapper{
  background-color: white;
}

.mySwiper6 .swiper-slide{
  position: relative;
  margin-top: 10px;
  /* width: 150%; */
  /* height: 80%; */
  gap: 5px;
  border-radius: 5px;
  text-align: left;
  padding: 10px;
  background-color: white;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
 }

 .mySwiper6 .swiper-slide img {
  border-radius: 5px;
  padding-top: 15px;
  padding-bottom: 15px;
 }
.mySwiper6 .swiper-slide p{
  font-size: 15px;
  line-height: 20px;
}

.mySwiper6 .swiper-slide h3{
  font-weight: 450;
  font-size: 15px;
}

.mySwiper6 .swiper-slide h5{
  font-weight: 340;
  font-size: 13px;
  text-decoration: line-through;
  color: rgb(128, 128, 128);
} 
 
.mySwiper6 .swiper-slide h2{
position: absolute;
top: 0;
right: 0;
background-color: #ffe2c6;
color: #f68b1e;
font-weight: 350;
font-size: 15px;
padding: 1px;
border-radius: 2px;
margin: 12px;
border: none;
} 

/* ========= next button========= */
.swiper .swiper-button-next{
  border-radius: 50%;
  font-size: smaller;
  color: white;
  width: 49px;
  height: 49px;
}

.swiper-button-next:hover{
  background-color: gray;
}
 
/* =======prev. button========= */
.swiper .swiper-button-prev{
  border-radius: 50%;
  font-size: smaller;
  color: white;
  width: 49px;
  height: 49px;
}

.swiper .swiper-button-prev:hover{
  background-color: gray;
}


/* ==================FOOTER=================== */
.footer{
  background-color: #313133;
  padding: 22px 7%;
  color: white;
}

.footerWrapper1{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 8.5%;
}

.footerWrapper1 .leftFooter img{
  width: 60%;
}

.footerWrapper1 .rightFooter img{
  width: 15%;
  height: 15%;
  border-radius: 5px;
}

.middleFooter .footerForm .inputFooter{
  width: 280px;
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
}

.middleFooter .footerForm i{
  position: absolute;
  display: flex;
  padding-top: 11px;
  font-size: 20px;
  color: #313133;
}

.footerForm .footerButton{
  background-color: #313133;
  border: 1px solid gray;
  border-color: white;
  font-weight: 400;
}


.footerForm .footerButton:hover{
  border-color: #f68b1e;
  color: #f68b1e;
  
}

.middleFooter{
  /* margin-right: 20%; */
  width: fit-content;

}


.middleFooter h2{
  font-size: 13px;
  margin-bottom: 5px;
}

.middleFooter .stP{
  margin-bottom: 15px;
  font-size: 12px;

}

.middleFooter div .ndP{
 margin-bottom: 20px;
 font-size: 10.5px;
 padding-left: 20px;

}
/*  
.checkBox{
  margin-top: 25px;
  display: flex;
  align-items: center;
  position: relative;
}

.checkBox .cB{
  position: absolute;
  top: 0;
  margin: 5px;
  left: -5px;
  margin-top: 10px;
}

.dPs h6{
  color: #f68b1e;
  font-weight: 350;
  text-decoration: underline;
}

.dps h6:hover{
  cursor: pointer;
} */



.check-label {
  color: #a3a3a6;
  margin-right: 4px;
  min-height: 24px;
  position: relative;
  line-height: 1.4;
  font-size: 11px;
}

  
.checkbox-container {
  margin-top: 30px;
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  user-select: none;
}

/* Hide the default checkbox */
.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkmark */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: transparent;
  border: 2px solid #a3a3a6;
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
  background-color: #f68b1e;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
  left: 5px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

.accept {
  color: #f68b1e;
  font-size: 11px;
}

a{
  text-decoration: none;
}
/* 
.checkmark{
  border-radius: 50%;
  width: 35px;
  height: 35px;
  position: absolute;
  left: 0;
  left: -7px;
  top: -7px;
} */

/* .checkmark :hover{
  background-color: whitesmoke;
  cursor: pointer; 
} */


.dImg{
  margin-bottom: 10px;
}

.rightFooter .dImg{
  /* margin-right: 30%; */
  display: flex;
  align-items: center;
  gap: 15px;
}

/* 
 .divOneSt{
  display: flex;
  align-items: center;
  width: fit-content;
} */

.rightFooter h2{
  font-size: 13px;
  margin-bottom: 10px;
  font-weight: 500;
  line-height: 8px;
}

.rightFooter p{
  font-size: 10px;
}

.rightFooter{
  width: 100%;
  padding-left: 20px;
}

.btnDiv{
  display: flex;
  align-items: center;
  gap: 8px;
}

.btnDiv button{
  background-color: #313133;
  border: 1px solid gray;
  border-color: white;
  color: white;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 4px;
}

.btnDiv i{
  font-size: 20px;
  /* padding-left: 5px; */
}

.alphas{
  line-height: 10px;
  text-align: left;
}

.alphas p{
  font-size: 7px;
}

.alphas h4{
  font-weight: 500;
  font-size: 12px;
}

.btnDiv :hover{
  border-color: #f68b1e;
  color: #f68b1e;
  cursor: pointer;
}

.footer-section-two {
  background-color: #535357;
  padding: 25px 7%;
}

.footer-section-two-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.footer-header{
  color: white;
  font-weight: 500;
  font-size: 14px;
}

.flex{
  display: flex;
  align-items: center;
  gap: 40px;
}
.footer-two-list {
  color: #fff;
  font-size: 11px;
  font-weight: 300;
  margin-top: 12px;
}

.footer-two-list div {
  padding-bottom: 5px;
}
.footer-two-list :hover{
  text-decoration: underline;
  cursor: pointer;
}

.footer-two-icon{
  color: white;
  padding-top: 20px;
}

.footer-two-icon i{
  padding-right: 15px;
  font-size: 22px;
}

.footer-two-icon i:hover{
  cursor: pointer;
  color: #c46f1b;
}

.footer-two-icon2{
  color: white;
  padding-top: 22px;
}

.footer-two-icon2 i{
  padding-right: 17px;
  font-size: 19px;
}

.footer-two-icon2 i:hover{
  cursor: pointer;
  color: #c46f1b;
}

.footer-header2{
  margin-top: 56px;
  color: white;
  font-weight: 500;
  font-size: 14px;
}

.hRule{
  margin-top: 25px;
}

.lastRule{
  border: #bdbaba36 solid 1px;
}

.lastDiv img{
  width: 50px;
  margin-top: 20px;
}

.lastDiv{
  text-align: center;
}

.lastDiv :hover{
  color: #f68b1e;
  cursor: pointer;
}